{% extends "base.html" %}

{% load staticfiles %}
{% load compress staticfiles %}

{% block title %}
    {% if title %}
        {{ title }} - healthchecks.io
    {% else %}
        healthchecks.io - Monitor Cron Jobs. Get Notified When Your Cron Jobs Fail
    {% endif %}

{% endblock %}

{% block content %}

    {% compress css %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/icon.min.css' %}" type="text/css"/>
    {% endcompress css %}

    {% if messages %}
    <div class="col-sm-12">
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <a href="{{ previous_url }}"><i class="arrow left icon"></i> back</a>
        </div>
    </div>

    {% block blog_content %}{% endblock blog_content %}

    {% compress js %}
        <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{% static 'js/semantic.min.js' %}"></script>
        <script src="{% static 'js/blog.js' %}"></script>

    {% endcompress js %}

{% endblock content %}

{% block scripts %}{% endblock scripts %}


