{% extends 'blog/base.html' %}
{% block blog_content %}

   <style>
        form.category-form{
            height: 200px;
            overflow-y: scroll;
        }
</style>

    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <h3 class="page-header">Create Category</h3>
                <form method="post" class="blog-form form-inline">
                    {% csrf_token %}

                    <div class="form-group">
                        {{ form.name }}
                    </div>
                    <button class="btn btn-primary" type="submit">Create Category</button>
                </form>
            </div>

            <div class="col-md-6">
                <h3 class="page-header">Post Blog</h3>

                {% if page_action == 'create' %}
                    {% include 'blog/includes/post_create_form.html' %}
                {% elif page_action == 'update' %}
                    {% include 'blog/includes/post_update_form.html' %}
                {% endif %}

            </div>

        </div>
    </div>

{% endblock %}

