{% extends 'blog/base.html' %}


{% block blog_content %}

    <div class="row">

        <div class="col-md-12">

            <div class="ui piled segment">
                <h4 class="ui header">
                    <a href="{{ post.get_absolute_url }}">{{ post.title|capfirst }}</a>
                    <small class="pull-right">
                        {% include 'blog/includes/buttons.html' %}
                    </small>
                </h4>

                <p class="text-justify">{{ post.content }}</p>
            </div>
        </div>

    </div>


{% endblock %}