{% extends 'blog/base.html' %}

{% load blog_markdown %}

{% block blog_content %}

    <div class="row">
        <br/>
        <div class="col-md-12">

            <div class="">
                <h3 class="page-header blog-header">
                    <a href="{{ post.get_absolute_url }}">{{ post.title|capfirst }}</a>
                    <small class="pull-right">
                        {% include 'blog/includes/buttons.html' %}
                    </small>
                </h3>

                <p class="text-justify">{{ post.content|markdownify }}</p>
                <p>
                    <div class="addthis_inline_share_toolbox"></div>
                </p>
            </div>
        </div>

    </div>


{% endblock %}